                          /* For Desktop begins */

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.navbar{
    background-color: rgba(240, 248, 255, 0.863);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    
    padding: 20px 10px;
    
}
.navbar > div{
    flex: 50%;
}
.navbar div.navbar_left{
    display: inline-flex;
    align-items: center;
    float: left;
}

.navbar div.navbar_left a.logo{
    display: block;
    background-image: url("NCC\ image.png");  
    width: 68px;
    height: 100px;
    float: left;
    margin: 10px 10px 10px 20px;
    /* padding: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar div.navbar_left div.logo_text a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4em;
}
.navbar div.navbar_right div.bnname{
    display: block;
    padding: 10px;
}
.navbar div.navbar_right div.bnname a{
       /* display: block; */
       position: relative;
       text-decoration: none;
       text-align: center;
       color: black;
       padding: 10px 10px 3px 10px;
       font-weight: 500;
       font-size: 3em; 
}
.navbar div.navbar_right div.bnname a.middle::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.navbar div.navbar_right div.bnname a.middle:hover::before{
    visibility: visible;
  transform: scaleX(1);
}



                                     /* For Desktop ends */

                                  /* For Tablet begin */

@media screen  and (min-width:576px) and (max-width:910px){
    .navbar div.navbar_left a.logo{
        display: block;
        background-image: url("NCC\ image\ tab.png");  
        width: 58px;
        height: 75px;
        float: left;
        margin: 10px 10px 10px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .navbar div.navbar_left div.logo_text a{
        display: block;
        color: black;
        margin: 7px;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2em;
    }
    .navbar div.navbar_right div.bnname{
       
        padding: 5px;
    }
    .navbar div.navbar_right div.bnname a{
          
           font-weight: 400;
           font-size: 2em; 
    }
    
}

                                    /* For Tablet ends */

                                  /* for Mobile begins  */

@media screen and (min-width:320px) and (max-width:575px){
                  
                    .navbar div.navbar_left a.logo{
                        display: block;
                        background-image: url("NCC\ inage\ mob.png") ;
                        background-repeat: no-repeat;  
                        width: 58px;
                        height: 75px;
                        float: left;
                        margin: auto;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    }
                    .navbar div.navbar_left div.logo_text a{
                        display: block;
                        color: black;
                        margin: 0 0 0 4px;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1em;
                    }
                    .navbar div.navbar_right div.bnname{
                        display: block;
                        padding: 5px;
                    }
                    .navbar div.navbar_right div.bnname a{
                          margin: 0;
                          padding: 0;
                           font-weight: 500;
                           font-size: 1.05em; 
                    }
                }