                          /* For Desktop begins */

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.navbar{
    background-color: rgba(240, 248, 255, 0.863);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: visible;
    
    padding: 20px 10px;
    
}
.navbar > div{
    flex: 40%;
}
.navbar div.navbar_left{
    display: inline-flex;
    align-items: center;
    float: left;
}

.navbar div.navbar_left a.logo{
    display: block;
    background-image: url("NCC\ image.png");  
    width: 68px;
    height: 100px;
    float: left;
    margin: 10px 10px 10px 20px;
    /* padding: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar div.navbar_left div.logo_text a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4em;
}

.navbar div.navbar_right{
    display: block;
}
.navbar div.navbar_right div.bnname{
    display: block;
    padding: 10px;
}
.navbar div.navbar_right div.bnname a{
       /* display: block; */
       font-family: 'Roboto', sans-serif;
       position: relative;
   
       text-decoration: none;
       text-align: center;
       color: black;
       padding: 10px 10px 3px 10px;
       font-weight: 700;
       font-size: 2.3em; 
}
.navbar div.navbar_right div.bnname a.middle::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.navbar div.navbar_right div.bnname a.middle:hover::before{
    visibility: visible;
  transform: scaleX(1);
}

.menubar{
    background-color: rgba(8, 8, 8, 0.863);
    width: 100%;
}
.menubar  ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.menubar  li{
    list-style: none;
}
.menubar ul li a{
    font-family: 'Roboto', sans-serif;
    display: block;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.menubar ul li.homebutton a,
.menubar ul li a:hover{
    color: #fff;
    background-color: #2196f3;
}
.lines{
    display: none;
}
.menubar ul li.about {
    position: relative;
    
}

.menubar ul li.about .about_submenu{
          display: none;
          position: absolute;
          background-color:rgba(8, 8, 8, 0.863) ;
          min-width: 250px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
}
.menubar ul li.about .about_submenu li a{
    text-transform: uppercase;
}
.menubar ul li.about .about_submenu li a:hover{
    background-color: red;
}
.menubar ul li.about:hover .about_submenu{
    display: block;
    
}
.menubar ul div.about_button:hover .about {
    background-color: #4c65f3;
   
    
}


.menubar ul li.organisation {
    position: relative;
    
}


.menubar ul li.organisation .organisation_submenu{
          display: none;
          position: absolute;
          background-color:rgba(8, 8, 8, 0.863) ;
          min-width: 270px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
}
.menubar ul li.organisation .organisation_submenu li a{
    text-transform: uppercase;
}
.menubar ul li.organisation .organisation_submenu li a:hover{
    background-color: red;
}
.menubar ul li.organisation:hover .organisation_submenu{
    display: block;
    
}
.menubar ul div.organisation_button:hover .organisation{
    background-color: royalblue;
}


.menubar ul li.training {
    position: relative;
    
}


.menubar ul li.training .training_submenu{
          display: none;
          position: absolute;
          background-color:rgba(8, 8, 8, 0.863) ;
          min-width: 270px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
}
.menubar ul li.training .training_submenu li a{
    text-transform: uppercase;
}
.menubar ul li.training .training_submenu li a:hover{
    background-color: red;
}
.menubar ul li.training:hover .training_submenu{
    display: block;
    
}
.menubar ul div.training_button:hover .training{
    background-color: royalblue;
}

.menubar ul li.certification {
    position: relative;
    
}

.menubar ul li.certification .certification_submenu{
          display: none;
          position: absolute;
          background-color:rgba(8, 8, 8, 0.863) ;
          min-width: 270px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
}
.menubar ul li.certification .certification_submenu li a{
    text-transform: uppercase;
}
.menubar ul li.certification .certification_submenu li a:hover{
    background-color: red;
}
.menubar ul li.certification:hover .certification_submenu{
    display: block;
    
}
.menubar ul div.certification_button:hover .certification{
    background-color: royalblue;
}

.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button{
    position: relative;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button .certificate_exam_submenu{
    display: none;
    position: absolute;
    top: 50px;
    right: -80px;
    background-color:rgba(8, 8, 8, 0.863) ;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button .certificate_exam_submenu li a{
    text-transform: uppercase;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button .certificate_exam_submenu li a:hover{
    background-color: red;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button:hover .certificate_exam_submenu{
    display: block;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button:hover .certificate_exams_hover{
    background-color: royalblue;
}
                                     /* For Desktop ends */

                                  /* For Tablet & mobile begin  */

@media screen  and  (max-width:800px){
             
    .navbar{
        display: block;
    }

    .navbar div.navbar_left{
       
        float: none;
    }
    .navbar div.navbar_right div.bnname a{
        font-size: 1.5em;
        text-align: center;
    }
   .menubar{
       display: none;
   }


   .container {
    display: block;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
   
   .responsive{
    background-color: rgba(8, 8, 8, 0.863);
    width: 100%;
    display: block;
    float: left;
}
.responsive  ul{
    margin: 0;
    padding: 0;
    display: block;
}
.responsive  li{
    list-style: none;
}
.responsive ul li a{
    font-family: 'Roboto', sans-serif;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.responsive ul li.homebutton a,
.responsive ul li a:hover{
    color: #fff;
    background-color: #2196f3;
}

.menubar ul li.about:hover .about_submenu{
    display: none;
}
.menubar ul li.organisation:hover .organisation_submenu{
    display: none;
}

.menubar ul li.training:hover .training_submenu{
    display: none;
}
.menubar ul div.certification_button .certification .certification_submenu .certificate_exam_button:hover .certificate_exam_submenu{
    display: none;
}
.menubar ul li.certification:hover .certification_submenu{
    display: none;
}
}
   
                                  /* For Tablet & mobile begin  */